node_modules/
.data/
*.db*
*.log
native/android/.gradle/
native/android/local.properties
native/android/**/build/
native/ios/DerivedData/
.DS_Store
*.sqlite*
__pycache__/

.env
*.lock
*.apk
*.aab
*.ipa
*.jks
*.keystore
*.p12
*.mobileprovision
native/ios/build/
